{% extends 'base.html' %}

{% block content %}
    <h1>Гарантии</h1>
    <div class="row zalivka1">
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Платежи через надёжный сервис
                </p>
                <p class="helpcard-text px-2 py-2">
                    Все платежи проводятся через WebsterPay.ru – надежный сервис, для работы с которым магазин обязан предоставлять свою регистрационную документацию.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Подарок за покупку
                </p>
                <p class="helpcard-text px-2 py-2">
                    Выгодная программа лояльности для клиентов. Мы ценим своих покупателей, поэтому каждый покупатель получает хороший подарок после совершения покупки.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Официальные ключи
                </p>
                <p class="helpcard-text px-2 py-2">
                    Мы предлагаем своим клиентам только действительные официальные ключи, купленные непосредственно у издателей либо их дилеров: 1С, Акелла, Electronic Arts, CCP Games и др.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Множество способов оплаты
                </p>
                <p class="helpcard-text px-2 py-2">
                    Вы можете выбрать тот вариант оплаты, который считаете максимально удобным и надежным. Банковская карта, Qiwi, перевод на Webmoney или Яндекс-Деньги – решайте сами!
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Большое количество отзывов
                </p>
                <p class="helpcard-text px-2 py-2">
                    После покупки у каждого пользователя есть возможность оставить отзыв о своём приобретении.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div>
                <p class="helpcard-title px-2 pt-2">
                    Техническая поддержка
                </p>
                <p class="helpcard-text px-2 py-2">
                    При возникновении любых затруднений наши клиенты могут обратиться в службу сервисной поддержки. Время работы - круглосуточно. support@gurugames.ru
                </p>
            </div>
        </div>
    </div>
{% endblock %}