{% extends 'base.html' %}

{% block content %}
    <h1>Помощь</h1>
    <div class="row">
        <div class="col-12 zalivka1">
            <div class="game-block mt-3">
                <p class="helpcard-title px-2 pt-2">
                    Если игра мне не понравится, смогу ли я вернуть свои деньги?
                </p>
                <p class="helpcard-text px-2 py-2">
                    Это не представляется возможным. Товар, приобретенный покупателем, не подлежит возврату или обмену в случае, если товар был получен.
                </p>
            </div>
            <div class="game-block">
                <p class="helpcard-title px-2 pt-2">
                    Какими способами я могу оплатить товар?
                </p>
                <p class="helpcard-text px-2 py-2">
                    Вы можете оплатить свой товар множеством способов: банковская карта, Qiwi, перевод на Webmoney, PayPal или Яндекс-Деньги.
                </p>
            </div>
            <div class="game-block">
                <p class="helpcard-title px-2 pt-2">
                    Я хочу купить игру, но как мне узнать, есть ли в ней мультиплеер или, например, кооператив?
                </p>
                <p class="helpcard-text px-2 py-2">
                    Информация отображается на странице товара в магазине, смотрите информационный блок справа на странице товара.
                </p>
            </div>
            <div class="game-block">
                <p class="helpcard-title px-2 pt-2">
                    Что делать, если игра вылетает, зависает или не запускается?
                </p>
                <p class="helpcard-text px-2 py-2">
                    Магазин не несет ответственности за возможные технические неполадки с игрой, и максимум что мы можем порекомендовать в данной ситуации — переустановить или обновить драйвера на аппаратную часть компьютера, снизить графические настройки в игре, проверить компьютер на наличие вирусов / майнеров, завершить лишние процессы из диспетчера задач, переустановить ОС, а также проверить - не перегреваются ли какие-либо составные части компьютера.<br><br>
                    Если ничего из перечисленного не решает Вашу проблему, то необходимо искать решение на форумах, в интернете или обращаться в поддержку разработчика продукта за получением официального ответа.
                </p>
            </div>
            <p class="helpcard-title">Остались вопросы по любому поводу? Пишите нам на почту: support@gurugames.ru<br>Мы обязательно ответим Вам!</p>
        </div>
    </div>
{% endblock %}